

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-size: 120%;  
  background-image: url(https://source.unsplash.com/1600x900/?landscape);
}
.card {
  background-color: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 2em;
  width: 100%;
  max-width: 300px;
  margin: 1px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5em;
  border-radius: 4em;
  border: none;
  height: 33px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}
button:hover {
  background: #7c7c7c6b;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background-color: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100%-100px);
}


h1.temp {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading::before{
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

/* .weather.loading::after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
} */